<h1 class="text-4xl font-bold text-center mt-10 pt-10 mb-10">Cart</h1>

<div class="flex justify-center mt-8 mb-10">
    <div class="overflow-x-auto w-full max-w-3xl">
        <table class="min-w-full bg-white shadow-lg rounded-lg overflow-hidden">
            <thead class="bg-teal-500 text-white">
                <tr>
                    <th class="px-4 py-2 text-left">Product</th>
                    <th class="px-4 py-2 text-left">Quantity</th>
                    <th class="px-4 py-2 text-left">Price</th> <!-- Tambahkan kolom harga -->
                    <th class="px-4 py-2 text-left">Total</th> <!-- Tambahkan kolom total -->
                    <th class="px-4 py-2 text-left">Action</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                <% let totalAmount = 0; %> <!-- Variabel untuk total harga -->
                <% cart.forEach(item => { %>
                    <tr class="hover:bg-gray-100 transition duration-200">
                        <td class="px-4 py-2"><%= item.name %></td>
                        <td class="px-4 py-2"><%= item.quantity %></td>
                        <td class="px-4 py-2">Rp <%= (item.price ? item.price.toFixed(2) : '0.00') %></td> <!-- Tampilkan harga -->
                        <td class="px-4 py-2">Rp <%= ((item.price * item.quantity) ? (item.price * item.quantity).toFixed(2) : '0.00') %></td> <!-- Tampilkan total untuk item -->
                        <td class="px-4 py-2">
                            <button class="remove-from-cart-button bg-red-500 text-white rounded px-4 py-2 hover:bg-red-600 transition duration-200" data-id="<%= item.id %>">Remove</button>
                        </td>
                    </tr>
                    <% totalAmount += item.price * item.quantity; %> <!-- Hitung total harga keseluruhan -->
                <% }); %>
            </tbody>
        </table>
        
        <div class="flex justify-end mt-4">
            <h2 class="text-xl font-bold">Total Amount: Rp <%= totalAmount.toFixed(2) %></h2> <!-- Tampilkan total keseluruhan -->
        </div>
    </div>
</div>

<form id="payment-form" method="POST" action="/payment">
    <button type="submit" id="payButton" class="btn btn-success">Bayar</button>
</form>

<link href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/keen-slider.min.css" rel="stylesheet" />

<script src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="SB-Mid-client-LUNLThqtU7DLg-xV"></script>



<script src="/js/cart.js"></script>
<script src="/js/payment.js"></script>
